<header class="main-header">

  <h1>FeedME</h1>

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% elsif %>
      <p class="alert alert-warning"><%= alert %></p>
  <% else %>
  <% end %>

</header>
